.navbar {
  margin-bottom: 0.5em;
  box-shadow: 0 3px 5px -1px rgb(0,0,0), 0 6px 10px 0 rgba(0,0,0,0.43), 0 1px 18px 0 rgba(0,0,0,0.17) !important;
  font-family: Showcard-Gothic;
  font-size: 1.5em;
}

@font-face {
  font-family: 'Showcard-Gothic';
  src: url('../../../assets/ttfs/showg.ttf');
}

li:hover {
  transform: scale(1.25);
}

.navbar-dark .nav-item:hover .nav-link {
  color: orange !important;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}
