<div class="container">
  <div class="card">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <h5 class="card-title">History of development</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus orci sem, vel iaculis
        enim molestie vel. Vivamus malesuada magna at eros semper finibus. Integer eu diam porttitor, convallis lacus
        ut, placerat odio. Phasellus tristique hendrerit diam vitae elementum. Praesent purus orci, vestibulum ut ligula
        id, cursus euismod mauris. Maecenas dapibus quam dictum enim tincidunt volutpat. Duis ac venenatis mauris. Proin
        ac risus scelerisque, congue ex id, mattis lectus.</p>
    </div>
    <hr>

    <div class="card-body">
      <h5 class="card-title">Functions</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus orci sem, vel iaculis
        enim molestie vel. Vivamus malesuada magna at eros semper finibus. Integer eu diam porttitor, convallis lacus
        ut, placerat odio. Phasellus tristique hendrerit diam vitae elementum. Praesent purus orci, vestibulum ut ligula
        id, cursus euismod mauris. Maecenas dapibus quam dictum enim tincidunt volutpat. Duis ac venenatis mauris. Proin
        ac risus scelerisque, congue ex id, mattis lectus.</p>
    </div>
    <hr>
    <h2></h2>

    <div class="card-body">
      <h5 class="card-title">Our future goals</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dapibus orci sem, vel iaculis
        enim molestie vel. Vivamus malesuada magna at eros semper finibus. Integer eu diam porttitor, convallis lacus
        ut, placerat odio. Phasellus tristique hendrerit diam vitae elementum. Praesent purus orci, vestibulum ut ligula
        id, cursus euismod mauris. Maecenas dapibus quam dictum enim tincidunt volutpat. Duis ac venenatis mauris. Proin
        ac risus scelerisque, congue ex id, mattis lectus.</p>
    </div>
  </div>
</div>
